* {
    color: rgb(16, 23, 112);
}

label, input, p {
    font-size: 18px;
}

body {
    background-color: rgba(247, 239, 230, 0.8) !important;
}

#frontImage {
    width: 100%;
    height: 250px;
    background-image: url('images/h1.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#app {
    min-height: 600px;
    height: auto;
    text-align: center;
}

#header {
    text-align: center;
    padding: 20px;
    font-weight: bold;
}

#getStarted {
    background-color: rgb(16, 23, 112);
    font-weight: bold;
    color: rgba(247, 239, 230, 0.8) !important;
    border: 1px solid rgb(16, 23, 112);
    border-radius: 5px;
    height: 50px;
    width: 200px;
    font-size: 20px;
}

footer {
    text-align: center;
}

#intro {
    text-align: center;
    padding: 20px;
}

.inputText {
    border: 1px solid black;
    border-radius: 3px;
    height: 40px;
    margin: 2px;
    background-color: rgba(247, 239, 230, 0.8);
}

.roundButton {
    margin: 10px;
    border: 3px solid black;
    border-radius: 100px;
    width: 200px;
    height: 200px;
    background-color: rgba(247, 239, 230, 0.8);
    font-size: 30px;
    font-weight: bold;
    word-wrap: break-word;
}

.roundButton:hover {
    margin: 10px;
    border: 5px solid rgb(16, 23, 112);
    border-radius: 100px;
    width: 200px;
    height: 200px;
    color: rgb(16, 23, 112);
    background-color: rgba(247, 239, 230, 1);
}

@media only screen and (width:1000){

    .roundButton {
        margin: 5px;
        border: 3px solid black;
        border-radius: 25px;
        width: 50px;
        height: 50px;
        background-color: rgba(247, 239, 230, 0.8);
        font-size: 20px;
        font-weight: bold;
        word-wrap: break-word;
    }
    
    .roundButton:hover {
        margin: 5px;
        border: 5px solid rgb(16, 23, 112);
        border-radius: 25px;
        width: 50px;
        height: 50px;
        color: rgb(16, 23, 112);
        background-color: rgba(247, 239, 230, 1);
    }

}